@import 'fonts';
@import 'colors';
.top-nav{
    #navigation{
        background-color: $theme-blue;
        list-style: none;
        display: flex;
        width: 100vw;
        justify-content: space-around;
        padding: 5px 20vw;
        li{
            flex: 1;
            font-family: $body;

            color: $main-bg;
            font-size: 1.4rem;
            display: flex;
            justify-content: center;
            text-align: center;
            a{
                flex: 1;
                align-self: center;
                text-decoration: none;
                color: inherit;
                text-align: center;
                font-weight: 600;
            }
        }
        #logo{
            flex: 0;
            color: $main-bg;
            font-size: 1.6rem;
            font-family: $heading,sans-serif;
            font-weight: 700;
        }
    }
}