@import 'fonts';
.result{
    align-content: center;
    h2{
        text-align: center;
        font-family: $body;
    }
    h3{
        margin-top: 1rem;
        text-align: center;
        font-family: $body;
    }
    #primary-color-box{
        width: 120px;
        height: 125px;
        // border: 5px solid #4af;
        border-radius: 20px;
        margin: auto;
        text-align: center;
        padding: auto 0;
        display: flex;
    }
    .t-bg-box{
        display: flex;
        justify-content: center;
        div{
            flex: 1;
            display: flex;
            flex-direction: column;
        }
        #text-color-box,#bg-color-box{
            align-self: center;
        }
    }
    #final-result{
        font-family: $body;
        margin: 15px auto;
        width: 50vw;
        background-color:#ededed;
        padding: 15px;
        border-radius: 15px;
        min-height: 15vh;
    }
}
.copied-msg{
    position: fixed;
    top: 0;
    right: 10px;
    visibility: hidden;
    margin: 15px;
    background-color: #4af;
    border-radius: 100px;
    font-family: $body;
    font-weight: 700;
    color: #f5faff;
    padding: 10px;
    z-index: 100;
}