@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Quicksand:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Quicksand:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Quicksand:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Quicksand:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Quicksand:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Quicksand:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  padding: 10px 10vw;
}

input {
  border: none;
  outline: #4FAAFE;
  padding: 5px;
  font-size: 1.6rem;
  border-radius: 10px;
}

.top-nav #navigation {
  background-color: #4FAAFE;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 5px 20vw;
}

.top-nav #navigation li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: "Quicksand";
  color: #FFFDFD;
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.top-nav #navigation li a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-decoration: none;
  color: inherit;
  text-align: center;
  font-weight: 600;
}

.top-nav #navigation #logo {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  color: #FFFDFD;
  font-size: 1.6rem;
  font-family: "PT Serif", sans-serif;
  font-weight: 700;
}

footer {
  background-color: #4FAAFE;
  width: 100vw;
  padding: 15px 20vw;
  text-align: center;
  color: #FFFDFD;
}

footer h2 {
  font-size: 1rem;
  font-family: "Quicksand";
}

footer a {
  text-decoration: none;
  color: inherit;
  font-family: "Quicksand";
  font-size: 1rem;
  text-align: center;
  font-weight: 400;
}

.conversion-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.conversion-block .flexible-box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  background-color: #EDEDED;
  min-width: 400px;
  text-align: center;
}

.conversion-block .color-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 250px;
}

.conversion-block .color-box #hex-code-output {
  margin: auto;
  padding: 7px;
  border-radius: 100px;
  font-family: "Quicksand";
  font-weight: 600;
  font-size: 1.2rem;
  background-color: #FFFDFD;
  color: #585252;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.conversion-block .color-values-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  padding: 50px;
}

.conversion-block .color-values-box #block-title {
  font-family: "PT Serif";
  font-size: 2rem;
  color: #0E0E0F;
  text-align: center;
  font-weight: 700;
}

.conversion-block .color-values-box #made-by {
  font-weight: 700;
  font-size: 1.2rem;
  font-family: "Quicksand";
  text-align: center;
  color: #585252;
}

.conversion-block .color-values-box .get-color-values {
  font-family: "Quicksand";
}

.conversion-block .color-values-box .get-color-values h2 {
  color: #585252;
}

.conversion-block .color-values-box .get-color-values #enter-color {
  color: #0E0E0F;
}

.conversion-block .color-values-box .get-color-values .color-inputs .color-code-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 20%;
  margin: 10px 0px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.conversion-block .color-values-box .get-color-values .color-inputs .color-code-block label {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  min-width: 5ch;
  font-size: 1.5rem;
  font-weight: 700;
  padding-right: 1ch;
}

.conversion-block .color-values-box .get-color-values .color-inputs .color-code-block .input-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 5px;
}

.conversion-block .color-values-box .get-color-values .color-inputs .color-code-block .input-wrapper h2 {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  padding-right: 1ch;
}

.conversion-block .color-values-box .get-color-values .color-inputs .color-code-block .input-wrapper input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 60px;
  padding: 5px;
  font-size: 1rem;
  font-family: "Quicksand";
}

.conversion-block .color-values-box .get-color-values .color-inputs .color-code-block .input-wrapper #hex-input {
  width: 150px;
}

.shade-btn {
  width: 115px;
  height: 125px;
  border: none;
  border-radius: 10px;
  margin: 10px;
  outline: #4faafe;
}

.shade-btn p {
  background-color: #ffffffc2;
  padding: 7px;
  margin: auto;
  border-radius: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.selected {
  border: 5px solid #4faafe;
}

.shades-block {
  text-align: center;
  font-family: "Quicksand";
}

.shades-block h2 {
  font-family: "Quicksand";
}

.shade-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.alert-block {
  font-family: "Quicksand";
}

.alert-block h2 {
  text-align: center;
}

.alert-color-block {
  margin: auto;
}

.text-bg-colors h2 {
  font-family: "Quicksand";
  text-align: center;
}
/*# sourceMappingURL=index.css.map */